---
const { gem } = Astro.props;
---

<style>
  .img-container {
    display: flex;
    align-items: center;
  }
  img {
    width: 250px;
    border-radius: 10px;
    margin-bottom: 0.6rem;
  }

  h3 {
    font-size: var(--font-size-xl);
    margin-left: 1.3rem;
  }
  p,
  a {
    margin-top: 0.7rem;
    margin-left: 1.3rem;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-champagne);
    padding: 1rem;
    border-radius: 12px;
  }
</style>

<div>
  <div class="img-container">
    <img src={`http://localhost:1337${gem.GemImage.url}`} alt="" />
  </div>
  <h3>{gem.GemName}</h3>
  <p>Colors: {gem.colors.map((color) => color.Color).join(", ")}</p>
  <p>Location: {gem.GemLocation}</p>
  <p>Hardness: {gem.GemHardness}</p>
  <p>Value: {gem.GemValue}</p>
  <a href={`/detailed/${gem.id}`}>Learn more</a>
</div>
