---
const { gem } = Astro.props;
import { Image } from "astro:assets";
---

<style>
  .img-container {
    display: flex;
    align-items: center;
  }
  .img {
    border-radius: 10px;
    margin-bottom: 0.6rem;
  }

  h3 {
    font-size: var(--font-size-xl);
    margin-left: 1.3rem;
  }
  p,
  a {
    margin-top: 0.7rem;
    margin-left: 1.3rem;
  }

  p {
    font-size: var(--font-size-m);
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-champagne);
    padding: 1rem;
    border-radius: 12px;
  }
</style>

<div>
  <div class="img-container">
    <Image
      class="img"
      src={`http://localhost:1337${gem.GemImage.url}`}
      width={250}
      height={250}
      alt={gem.GemName}
    />
  </div>
  <h3>{gem.GemName}</h3>
  <p>{gem.GemValue}</p>
  <a href={`/detailed/${gem.id}`}>Learn more</a>
</div>
